In [1]:
#load the grouped list for colnames
from utils import *

In [2]:
# air_pollutions, weathers, weathers_2, times
####
# continuous_variables, category_variables, percentile_variables

In [3]:
import json
import numpy as np
import pandas as pd
import os
import random
from datetime import datetime

In [4]:
data_folder = 'D:/Work/污染项目/data-overall-update/' \
              'data_process/before_engineer/union_per_pollution/'

In [5]:
df_union_no2 = pd.read_csv(data_folder+'no2_unionSites.csv')

In [6]:
df_union_no2.columns

Index(['index', 'no2', 'ap_code', 'ws', 'wd', 'temp', 'RH', 'ssr', 'tp', 'blh',
       'tcc', 'sp', 'date_unix', 'week', 'weekday', 'hour', 'month',
       'day_julian', 'ap_lat', 'ap_long', 'MetCode', 'met_lat', 'met_long',
       'site'],
      dtype='object')

In [7]:
df_union_no2.head()

,index,no2,ap_code,ws,wd,temp,RH,ssr,tp,blh,...,weekday,hour,month,day_julian,ap_lat,ap_long,MetCode,met_lat,met_long,site
0,0,25.0,ABD7,8.5,350.1,4.733333,90.803872,2.330000e-10,0.000103,952.052072,...,6.0,0.0,1.0,1.0,57.14455,-2.106472,30910.0,57.205,-2.205278,UT
1,1,53.0,ABD7,8.2,349.9,3.633333,89.040729,2.330000e-10,0.000052,992.599957,...,6.0,1.0,1.0,1.0,57.14455,-2.106472,30910.0,57.205,-2.205278,UT
2,2,44.0,ABD7,7.9,350.3,3.900000,79.542804,2.330000e-10,0.000027,1082.441347,...,6.0,2.0,1.0,1.0,57.14455,-2.106472,30910.0,57.205,-2.205278,UT
3,3,21.0,ABD7,7.8,349.2,3.266667,78.887892,2.330000e-10,0.000017,1223.852998,...,6.0,3.0,1.0,1.0,57.14455,-2.106472,30910.0,57.205,-2.205278,UT
4,4,15.0,ABD7,7.6,349.2,3.200000,76.825615,2.330000e-10,0.000012,1331.836133,...,6.0,4.0,1.0,1.0,57.14455,-2.106472,30910.0,57.205,-2.205278,UT

In [7]:
df_MY1 = pd.read_csv('D:/work/污染项目/data-overall' \
                     '-update-0120/processed_MaryleboneRoad.csv')

In [10]:
df = df_MY1

In [14]:
df.columns

Index(['index', 'no2', 'o3', 'ws', 'wd', 'temp', 'RH', 'ssr', 'tp', 'blh',
       'tcc', 'sp', 'tc', 'date_unix', 'week', 'weekday', 'hour', 'month',
       'day_julian', 'year'],
      dtype='object')

# MY1 site

In [8]:
df_MY1 = pd.read_csv('D:/work/污染项目/data-overall' \
                     '-update-0120/data/MaryleboneRoad.csv')

df_KC1 = pd.read_csv('D:/work/污染项目/data-overall' \
                     '-update-0120/data/NorthKensington.csv')

In [9]:
df_MY1.columns = ['index', 'site', 'code', 'date', 'nox', 'no2', 'no', 'o3', 'pm2.5',
       'pm10', 'ws', 'wd', 'temp', 'RH', 'date_unix', 'week', 'weekday',
       'hour', 'month', 'day_julian', 'ssr', 'tp', 'blh', 'tcc', 'sp', 'tc',
       'Site']

df_KC1.columns = ['index', 'site', 'code', 'date', 'nox', 'no2', 'no', 'o3', 'pm2.5',
       'pm10', 'ws', 'wd', 'temp', 'RH', 'date_unix', 'week', 'weekday',
       'hour', 'month', 'day_julian', 'ssr', 'tp', 'blh', 'tcc', 'sp',
       'Site']

selected_columns_MY1 = ['index', 'no2', 'o3','ws', 'wd', 'temp', 'RH', 'ssr', 'tp', 'blh',
       'tcc', 'sp', 'tc', 'date_unix', 'week', 'weekday', 'hour', 'month',
       'day_julian']

selected_columns_KC1 = ['index', 'no2', 'o3','ws', 'wd', 'temp', 'RH', 'ssr', 'tp', 'blh',
       'tcc', 'sp', 'date_unix', 'week', 'weekday', 'hour', 'month',
       'day_julian']

# 这里不需要再加这些变量了，因为单独train一个站点的话，这些变量都是定值，不需要加

In [11]:
for col in df_union_no2.columns:
    if col not in selected_columns_MY1:
        print (col)

ap_code
ap_lat
ap_long
MetCode
met_lat
met_long
site

In [12]:
air_pollution = 'no2'

# from date unix extract year
def extract_year(row):
    try:
        date_unix = int(row['date_unix'])
        return datetime.utcfromtimestamp(date_unix).year
    except:
        return 0

def fill_continuous_missValues(air_pollution,
                               continuous_variables,
                               df):    
    #change the continuous features
    for feature in ['ap_lat', 'ap_long', 'met_lat', 'met_long']:
        if feature in continuous_variables:
            continuous_variables.remove(feature)

    for feature in ['o3']:
        if feature not in continuous_variables:
            continuous_variables.append(feature)
        
    print (continuous_variables)
    #add column year
    df['year'] = df.apply(lambda row : extract_year(row), axis=1)
    df = df[df['year']>0]

    for colname in continuous_variables:
        df[colname] = df[colname].fillna(df[colname].median())
        
    return df

In [13]:
df_MY1 = fill_continuous_missValues(air_pollution,
                                    continuous_variables+['tc'],
                                    df_MY1[selected_columns_MY1])
df_KC1 = fill_continuous_missValues(air_pollution,
                                    continuous_variables,
                                    df_KC1[selected_columns_KC1])

['ws', 'wd', 'temp', 'RH', 'ssr', 'tp', 'blh', 'tcc', 'sp', 'date_unix', 'year', 'tc', 'o3']

<ipython-input-12-a10939f9aead>:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = df.apply(lambda row : extract_year(row), axis=1)

['ws', 'wd', 'temp', 'RH', 'ssr', 'tp', 'blh', 'tcc', 'sp', 'date_unix', 'year', 'o3']

<ipython-input-12-a10939f9aead>:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['year'] = df.apply(lambda row : extract_year(row), axis=1)
<ipython-input-12-a10939f9aead>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[colname] = df[colname].fillna(df[colname].median())

In [16]:
 df_MY1.to_csv(('D:/work/污染项目/data-overall' \
                     '-update-0120/processed_MaryleboneRoad.csv'), index=False)
    
    
df_KC1.to_csv(('D:/work/污染项目/data-overall' \
                 '-update-0120/processed_NorthKensington.csv'), index=False)

In [35]:
df_MY1

,index,no2,o3,ws,wd,temp,RH,ssr,tp,blh,tcc,sp,tc,date_unix,week,weekday,hour,month,day_julian,year
0,1,46.00000,18.00000,2.233333,312.260645,5.966667,77.050881,2.330000e-10,0.000018,226.151029,0.987686,101732.0819,552.0,1.293840e+09,1,6,0,1,1,2011
1,2,40.00000,26.00000,2.266667,310.000000,5.933333,77.046164,2.330000e-10,0.000027,271.117357,0.988632,101714.9654,847.0,1.293844e+09,1,6,1,1,1,2011
2,3,52.00000,10.00000,2.600000,300.000000,5.500000,79.773686,2.330000e-10,0.000023,305.737132,0.949522,101676.7350,800.0,1.293847e+09,1,6,2,1,1,2011
3,4,74.00000,2.00000,2.766667,283.092149,5.133333,81.756819,2.330000e-10,0.000012,260.305389,0.956846,101666.3831,751.0,1.293851e+09,1,6,3,1,1,2011
4,5,71.00000,2.00000,3.266667,262.648407,5.000000,81.740658,2.330000e-10,0.000006,239.898696,0.970824,101603.5542,688.0,1.293854e+09,1,6,4,1,1,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96428,96429,42.64875,21.35399,3.933333,196.953358,13.200000,86.846611,2.330000e-10,0.000036,575.570896,0.848946,100802.8000,3079.0,1.640977e+09,53,5,19,12,365,2021
96429,96430,44.56125,23.34969,4.766667,203.598355,12.900000,88.348945,2.330000e-10,0.000002,575.570896,0.848946,100802.8000,3005.0,1.640981e+09,53,5,20,12,365,2021
96430,96431,43.60500,30.93335,4.600000,209.635632,13.033333,89.949308,2.330000e-10,0.000023,575.570896,0.848946,100802.8000,2929.0,1.640984e+09,53,5,21,12,365,2021
96431,96432,32.32125,21.35399,4.600000,196.670437,12.900000,93.504837,2.330000e-10,0.000004,575.570896,0.848946,100802.8000,3008.0,1.640988e+09,53,5,22,12,365,2021
96432,96433,36.14625,14.00000,3.766667,216.636273,11.566667,79.963870,2.330000e-10,0.000000,575.570896,0.848946,100802.8000,2818.0,1.640992e+09,53,5,23,12,365,2021